@model IEnumerable<Demo_ASP_Image.WebApp.Models.ImageData>

@{
   ViewBag.Title = "Images";
}

<h2>Liste des images enregistrées</h2>

<table class="table">
   <tr>
      <th>
         @Html.DisplayNameFor(model => model.OriginalName)
      </th>
      <th>
         @Html.DisplayNameFor(model => model.Description)
      </th>
      <th></th>
   </tr>
   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor(modelItem => item.OriginalName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.Description)
         </td>
         <td>
            @Html.ActionLink("Detail", "Image", new { id = item.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Mettre à jour", "Update", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
         </td>
      </tr>
   }

</table>
